body{
      background-image:url("../../photos/website/digimon2.jpg");
      background-repeat: no-repeat;
       background-attachment: fixed;
      background-size: cover;
      color:white;
}

.logo{
  width: 100px;
}

.mynavbar{
  background-color:#113551;
}

.card{
  width: 300px;
  margin-left:20px;
  margin-top:10px;
}

.carddisplay{
  width: 350px;
  margin-left:20px;
  margin-top:10px;
}
.mybutton{
  margin-right: 10px;
}
.mypanel-2{
  background-color:rgba(255, 53, 81, 0.8);
  padding:10px;
  text-align: right;
}
.mypanel{
  background-color:rgba(255, 53, 81, 0.8);
  padding:10px;
  text-align: center;
}
.test{
  text-align: center;
}
