body{
      background-image:url("../../photos/website/digimon2.jpg");
      background-repeat: no-repeat;
       background-attachment: fixed;
      background-size: cover;
      color:white;
}

.logo{
  width: 100px;
}

.mynavbar{
  background-color:#113551;
}

.card{
  margin-top:20px;
}

.carddisplay{
  width: 350px;
  margin-left:20px;
  margin-top:10px;
}
.mybutton{
  margin-right: 10px;
}
.mypanel-2{
  background-color:rgba(17, 53, 81, 0.8);
  padding:10px;
}
.mypanel{
  background-color:rgba(17, 53, 81, 0.8);
  padding:10px;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
